<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Layout 3 </title>
    </head>
    <link href="layout3.css" rel="stylesheet">
    <body>
        <div class="primera">
            <table class="segundo">
                <tr>
                    <th> <img src="cap5.PNG" alt="logo"> </th>
                </tr>
                <tr>
                    <td> 
                        <h3> Square Register</h3>
                        <h1> 
                            The POS software that´s
                            <br>
                            simple, powerful, and free.
                        </h1>
                        <kbd class="boton"> GET STARTED </kbd> 
                    </td>
                    <td> <img src="cap6.PNG" alt="foto"> </td>
                </tr>
            </table>
        </div>
        <div class="container">
            <!-- Column -->
            <div class="container__column">
                <!-- Cover -->
                <img src="c1.PNG" alt="1" width="110px" height="100px">
        
                <!-- Content -->
                <div class="container__content">
                    <h5> Dowload free </h5>
                    <p>
                        Square Register is the perfect point
                        <br>
                        of-sale system, avalible in the App
                        <br>
                        Store and Google Play. It´s designed
                        <br>
                        to run on a smartphone or tablet. on
                        <br>
                        your counter or on the go
                    </p>
                </div>
                <!-- Button sticks to the bottom -->
            </div>
            <!-- Repeat with other columns -->
            <!-- Column -->
            <div class="container__column">
                <!-- Cover -->
                <img src="c2.PNG" alt="2" width="100px" height="100px">
        
                <!-- Content -->
                <div class="container__content">
                    <h5> Grow your business </h5>
                    <p>
                        Square Register is the perfect point
                        <br>
                        of-sale system, avalible in the App
                        <br>
                        Store and Google Play. It´s designed
                        <br>
                        to run on a smartphone or tablet. on
                        <br>
                        your counter or on the go
                    </p>
                </div>
                <!-- Button sticks to the bottom -->
            </div>
            <!-- Repeat with other columns -->
            <!-- Column -->
            <div class="container__column">
                <!-- Cover -->
                <img src="c3.PNG" alt="3" width="100px" height="100px">
        
                <!-- Content -->
                <div class="container__content">
                    <h5> Powerful enough for anyone </h5>
                    <p>
                        Square Register is the perfect point
                        <br>
                        of-sale system, avalible in the App
                        <br>
                        Store and Google Play. It´s designed
                        <br>
                        to run on a smartphone or tablet. on
                        <br>
                        your counter or on the go
                    </p>
                </div>
                <!-- Button sticks to the bottom -->
            </div>
            <!-- Repeat with other columns -->
            <!-- Column -->
            <div class="container__column">
                <!-- Cover -->
                <img src="c4.PNG" alt="4" width="100px" height="100px">
        
                <!-- Content -->
                <div class="container__content">
                    <h5> Upgrades automatically </h5>
                    <p>
                        Square Register is the perfect point
                        <br>
                        of-sale system, avalible in the App
                        <br>
                        Store and Google Play. It´s designed
                        <br>
                        to run on a smartphone or tablet. on
                        <br>
                        your counter or on the go
                    </p>
                </div>
                <!-- Button sticks to the bottom -->
            </div>
            <!-- Repeat with other columns -->
        </div>
    </body>
</html>