<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Layout 1 </title>
    </head>
    <link href="layout.css" rel="stylesheet">
    <body>
        <div class="fondo">
            <h1 id="text"> Logo </h1>
            
            <table class="navegador">
                <tr>
                    <td> <a href="home"> Home </a> </td>
                    <td> <a href="portafolio"> Portafolio </a> </td>
                    <td> <a href="Blog"> Blog </a> </td>
                    <td colspan="3"> <a href="Contact"> Contact </a> </td>
                    <td></td>
                    <td></td>
                    <td> <input type="text" placeholder="search" class="buscador"> </td>
                </tr>
            </table>
            <div class="caja">
                <img src="http://freecssshowcase.com/blogs/files/2012/07/Full-Screen-HTML-Templates.jpg" alt="primera" width="1150 px" height="500 px">
            </div>
            <div class="container">
                <!-- Column -->
                <div class="container__column" id="caja1">
                    <!-- Cover -->
                    <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="segunda" width="270 px" height="250 px">
                    <!-- Content -->
                    <div class="container__content">
                            Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s,when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries
                        , but also the leap into 
                    </div>
                    <!-- Button sticks to the bottom -->
                    <br>
                    <p>
                    more..
                    </p>
                </div>
                <!-- Repeat with other columns -->
                <!-- Column -->
                <div class="container__column" id="caja1">
                     <!-- Cover -->
                     <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="segunda" width="270 px" height="250 px">
                     <!-- Content -->
                     <div class="container__content">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s,when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries
                        , but also the leap into 
                    </div>
                    <!-- Button sticks to the bottom -->
                    <p>
                    more..
                    </p>
                </div>
                <div class="container__column" id="caja1">
                    <!-- Cover -->
                    <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="segunda" width="270 px" height="250 px">
                    <!-- Content -->
                    <div class="container__content">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s,when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries
                        , but also the leap into 
                    </div>
                    <!-- Button sticks to the bottom -->
                    <p>
                    more..
                    </p>
                </div>
                <div class="container__column" id="caja1">
                    <!-- Cover -->
                    <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="segunda" width="270 px" height="250 px">
                    <!-- Content -->
                    <div class="container__content">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s,when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries
                        , but also the leap into 
                    </div>
                    <!-- Button sticks to the bottom -->
                    <p>
                    more..
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>