<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Laoyut 5000000 estoy arto miguel </title>
    </head>
    <link href="layout10.css" rel="stylesheet">
    <body>
        <div class="cuerpo">
            <div class="cabecera">
                <table>
                    <tr>
                        <td>
                            <img src="aventura.PNG" alt="logo" id="logo">
                        </td>
                        <td id="titulo">
                            <h2 style="margin-bottom: -40px;"> [Guia] 10 Lugares para um <br> final de semana de Aventura! </h2>
                            <p id="subtitulo"> Conheça dicas de lugares para quem busca contato com a natureza </p>
                        </td>
                    </tr>
                </table>
            </div>
            <table id="dentro">
                <tr>
                    <td>
                        <img src="imagen.PNG" alt="imagen" width="600px" id="imagen">
                    </td>
                    <td rowspan="2" id="formulario">
                        <form>
                            <div>
                                <div class="clase">
                                    <h5> Faça o download grátis aqui! </h5>
                                    <p>
                                        Basta preencher o formulário abaixo
                                    </p>
                                </div>
                                <table>
                                    <tr>
                                        <td>
                                            <label> Nome </label> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label> Email </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="email">  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label> Estado </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select>
                                                <option> Selecione </option>
                                                <option> Miguel </option>
                                                <option> Estoy </option>
                                                <option> Arto </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Vocē practica que tipo de aventura? 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox"><label> Trekking </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2> Todas as reglōes do Brasil </h2>
                        <p class="relleno">
                            Selecionamos dois lugares para cada reglāo do Brasil para
                            <br>
                            vocē aproveltar uma aventura de final de semana em contacto
                            <br>
                            com a natureza
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>