<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Ultimo </title>
    </head>
    <link href="layout11.css" rel="stylesheet">
    <body>
        <div>
            <div class="cabecera" id="titulo">
                CLUBW
            </div>
            <div class="medio">
                <h1> This year, give a gift everyone will love. </h1>
                <p style="margin: auto;"> (Enb it´s Wins) </p>
                <table>
                    <tr>
                        <td>
                            <img src="c1.PNG" alt="vinos" width="500px">
                        </td>
                        <td rowspan="2" style="padding-left: 50px;">
                            <form>
                                <h2> Send us your info! </h2>
                                <label> First Name </label>
                                <br>
                                <input type="text" placeholder="First Name">
                                <br>
                                <label> Last Name </label>
                                <br>
                                <input type="text" placeholder="Last Name">
                                <br>
                                <label> Company </label>
                                <br>
                                <input type="text" placeholder="Company">
                                <br>
                                <label> Email </label>
                                <br>
                                <input type="email" placeholder="Email">
                                <br>
                                <label> Phone Number </label>
                                <br>
                                <input type="tel" placeholder="Phone Number">
                                <br>
                                <label> amount </label>
                                <br>
                                <select>
                                    <option> Select Amount.. </option>
                                    <option> Esto no se me olvida Miguel </option>
                                </select>
                                <br>
                                <label> Additional information </label>
                                <br>
                                <input type="text" id="grande">
                                <br>
                                <input type="submit" id="enviar" value="Submit">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p id="text">
                                Club W makes it delightfully easy to give great wine as a corporate
                                <br>
                                gift. Simply provide an address, amount, and write a gift note. Your
                                <br>
                                recipients will recive a beautiful gift presentation by email. Each
                                <br>
                                recipient can customize their Club W Experience with personal
                                <br>
                                recommendations, individual selections and the ability to choose
                                <br>
                                when and where to have their wine delivered. 
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="container" id="final">
                <div class="container">
                    <!-- Column -->
                    <div class="container__column">
                        <!-- Cover -->
                        <div class="avatar">
                            <!-- Avatar image -->
                            <img class="avatar__image" src="perfil.jpg" />
                        </div>
                
                        <!-- Content -->
                        <div class="container__content">
                            <p>
                                Club W is the ultimate one-size-fize-af solution to giving
                            </p>
                            <p >
                            <p id="separador">
                                corporate gifts and people absolutly love it.
                            </p>
                            <p id="datos">
                                Lollari titl
                            </p>
                            <p id="datos">
                                Excutive Assistant
                            </p>
                            <p id="datos">
                                JueFab
                            </p>
                        </div>
                
                        <!-- Button sticks to the bottom -->
                        
                    </div>
                </div>
                    <!-- Repeat with other columns -->
                <div class="container">
                    <!-- Column -->
                    <div class="container__column">
                        <!-- Cover -->
                        <div class="avatar">
                            <!-- Avatar image -->
                            <img class="avatar__image" src="perfil.jpg" />
                        </div>
                
                        <!-- Content -->
                        <div class="container__content">
                            <p>
                                Club W is the ultimate one-size-fize-af solution to giving
                            </p>
                            <p id="separador">
                                corporate gifts and people absolutly love it.
                            </p>
                            <p id="datos">
                                Lollari titl
                            </p>
                            <p id="datos">
                                Excutive Assistant
                            </p>
                            <p id="datos">
                                JueFab
                            </p>
                        </div>
                
                        <!-- Button sticks to the bottom -->
                        
                    </div>
                </div>
                    <!-- Repeat with other columns -->
                <div class="container">
                    <!-- Column -->
                    <div class="container__column">
                        <!-- Cover -->
                        <div class="avatar">
                            <!-- Avatar image -->
                            <img class="avatar__image" src="perfil.jpg" />
                        </div>
                
                        <!-- Content -->
                        <div class="container__content">
                            <p>
                                Club W is the ultimate one-size-fize-af solution to giving
                            </p>
                            <p id="separador">
                                corporate gifts and people absolutly love it.
                            </p>
                            <p id="datos">
                                Lollari titl
                            </p>
                            <p id="datos">
                                Excutive Assistant
                            </p>
                            <p id="datos">
                                JueFab
                            </p>
                        </div>
                
                        <!-- Button sticks to the bottom -->
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
