td:first-child{
    background-color: green;
}

td[colspan="5"]{
    background-color: yellow;
    text-align: center;
}
tr>:last-of-type:hover{
    font-size: 50px;
}

a:link     {color:green}
a:visited  {color:red}
a:link {text-decoration: none;}

th::first-letter{
    font-size: 200%;
}
#caja{
    border-color: red;
    padding: 5px;
    margin-left: 5px;
}

label::after{
    content: "*";
    color: red ;
}




table{
    border: none;
    border-collapse: collapse;
    background-color: white;
    padding-top: 0;
    border-color: black;
}

td{
    border: solid black 1px;
    padding-right: 15px;
}
th{
    border: solid black 1px;
    padding-bottom: 2px;
    padding-right: 13px;
    padding-left: 13px;
}
h4{
    margin-left: 170px;
    margin-bottom: 0px;
}