body{
width: 100%;
margin: 0%;
padding: 0%;
}

.todo{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "cabecera"
    "cuerpo"
    "pie";
}
.cabecera{
    grid-area: cabecera;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}
.subcabecera1{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 3%
}
.logos{
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 5%;
}
.subcabecera2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #222222;
}
.menu{
    padding: 10px;
}
.opcion{
    padding: 5px;
    margin: 2px;
    font-size: larger;
}
.cuerpo{
    display: flex;
    flex-direction: column;
}
.subcuerpo1{
    background-color: #D2D2D2;
    display: flex;
    flex-direction: column;
}
#p2{
    font-size: larger;
}
.subcuerpo2{
 background-color: #EBEBEB;

}
.cuadro{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    margin: 3%;
    border-top: solid 10px pink;
    padding-inline: 5%;
}
.desc{
    font-size: large;
}
.explore{
    background-color: #222222;
    border: solid 1px #E28B22;
    margin-top: 5px;
    margin-bottom: 8px;
}
#c2{
    border-top: solid 10px blue;
}
#c3{
    border-top: solid 10px green;
}
#c4{
    border-top: solid 10px yellow;
}
.pie{
    border-top: solid 10px #E28B22;
    background-color: #222222;
    color: white;
}
.columnas{
    display: flex;
    flex-direction: column;
}
.col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#p1{
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 10px;
}
.subopcion{
    padding: 8px;
    font-size: larger;
}
button{
    background-color: #E28B22;
    color: white;
    border: none;
    border-radius: 2%;
    padding: 8px;
}
h4{
    margin-bottom: 5px;
}
h2{
    margin-bottom: 5px;
}
@media only screen and (min-width: 768px){
    .subcabecera1{
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        padding-inline: 3%;
        align-items: center;
    }
    .subcabecera2{
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        padding-inline: 3%;
        align-items: center;
    }
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    button{
        padding: 12px;
    }

    .subcuerpo1{
        justify-content: center;
        text-align: left;
        padding-left: 30px;
    }
    #p2{
        margin-top: 7px;
    }

    .subcuerpo2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cuadro{
        display: flex;
        flex-direction: column;

    }
    .desc{
        font-size: medium;
    }
    .mas{
        justify-content: flex-end;
    }

    .columnas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .col1{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 24%;
    }
    #p1{
        font-size: medium;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 12%;
    }
    .subopcion{
        font-size: medium;
    }
}

@media only screen and (min-width: 1024px){
    .cuadro{
        padding: 5%;
        text-align: inherit;
        justify-content: flex-start;
        align-content: space-around;
    }
    h2{
        margin-top: 2px;
        margin-bottom: 10px;
    }
    desc{
        justify-content: space-between;
        margin: 5%;
    }
}