table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    padding-top: 0;
    border-color: grey;
}
svg{
    padding: 0%;
    margin: 0%;
}
td{
    border: solid rgb(124, 124, 124) 1px;
    text-align: center;
    padding: auto;
}
p{
    min-height: fit-content;
}