table{
    border: none;
    border-style: double;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    padding-top: 0;
    border-color: grey;
}
th{
    border-style: double;
    
    border-color: black;
    border-width: 4px;
}
td{
    border-style: solid;
    
    border-width: 4px;
    border-color: white;
    text-align:left;
    font-style:inherit;
}
tr.iso{
    background-color: red;
}
tr.gbd{
    background-color: rgb(88, 88, 255);
}
tr.par{
    background-color: rgb(206, 62, 250);
}
tr.fhw{
    background-color: pink;
}
tr.fol{
    background-color: green;
}
tr.lm{
    background-color:rgb(158, 95, 37);
}