body{
    width: 100%;
    height: 0%;
    margin: 0%;
    background: linear-gradient(to bottom, #212529, rgb(0, 0, 0));
}

.icono{
    border-radius: 60%;
}

#logo{
    height: 50px;
    width: 50px;
}

.cab{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.listaChica{
    display: flex;
}

#dropdownMenuButton1{
    background-color: transparent;
    border-color: white;
    border-width: 3%;
}
#dropdownMenuButton1:focus{
    background-color: white;
    color: black;
    border-color: white;
    border-width: 3%;
}


.listaGrande{
    display: none;
}

.bc{
    background-color: rgba(201, 1, 1, 0.925);
    border-color: rgba(231, 17, 17, 0.925);
    color: white;
}

h2{
    color: white;
    align-self: center;
    margin-right: 35%;
}
h2:before {
    position: absolute;
    content: "";
    height: 1.3em;
    border-left: 3px solid #fa320a;
    margin: -1px 0 0 -9px;
}

.divisor{
    background: linear-gradient(to right, #3be9e6, #29b9b612);
    margin-left: 20%;
    margin-right: 20%;
    padding: 3px;
    border-radius: 70%;
    opacity: 0.9;
}

.new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 2%;
}

.pie{
    margin-top: 5%;
}

.blockquote{
    margin: 1%;
    margin-left: 15%;
    margin-right: 5%;
    font-size: xx-large;
    text-align:left;
    color: white;
}

@media only screen and (min-width: 768px){
    .listaGrande{
        display: flex;
        flex-direction: row;
    }

    .listaChica{
        display: none;
    }

    .cab{
        display: none;
    }

    #logo{
        height: 50px;
        width: 50px;
        margin-right: 40%;
    }

    .blockquote{
        margin: 1%;
        margin-left: 15%;
        margin-right: 15%;
        text-align:left;
        color: white;
        font-size:large;
    }
}