<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Layout 2 </title>
    </head>
    <link href="layout2.css" rel="stylesheet">
    <body>
        <div class="fondo">
            <table class="cabecera">
                <tr>
                    <td colspan="3" class="a" style="padding-right: 350px;">
                         <kbd class="cmd"> > </kbd> Terminal 
                    </td>
                    <td></td>
                    <td></td>
                    <td class="a">
                        Explore
                    </td>
                    <td class="a">
                        Pricing
                    </td>
                    <td class="a">
                        Documentation
                    </td>
                    <td colspan="2" class="a">
                        Help
                    </td>
                    <td></td>
                    <td></td>
                    <td class="a" style="padding-left: 150px;">
                        <kbd class="cuenta" style="padding-left: 30px;padding-right: 30px;"> NEW ACCOUNT </kbd>
                    </td>
                    <td class="a">
                        <kbd class="entrada" style="padding-left: 20px;padding-right: 20px;"> LOG IN </kbd> 
                    </td>
                </tr>
            </table>
            <table class="medio">
                <tr>
                    <td> <h1> A new kind <br> of web app store </h1> </td>
                    <td rowspan="2" style="padding-left: 240px;"> <img src="cap2.PNG" alt="imagen" width="500px"> </td>
                </tr>
                <tr>
                    <td style="font-size: medium;"> 
                        Just sign-in your Google account, find the web
                        <br>
                        app you want in our app collection, and clickto run your
                        <br>
                        own private server <img src="flecha.PNG" alt="flecha" > 
                    </td>
                </tr>
            </table>
            <div class="container">
                <!-- Column -->
                <div class="container__column">
                    <!-- Cover -->
                    <img src="cap4.PNG" alt="css3" width="300px" height="300px">
                    <!-- Content -->
                    <div class="container__content">
                        <h2 id="studio"> RStudio Server </h2>
                        <div style="padding: 1px;margin-right: 20px;margin-top: 42px;">
                            <img src="usuario.png" width="15px" height="15px"> Andrew Stevenson
                            <br>
                            <img src="calendario.png" width="15px" height="15px">Jan 24 2054  <img src="vista.png" width="15px" height="15px" style="margin-left: 80px;"> 974
                        </div>
                        
                    </div>
                    <!-- Button sticks to the bottom -->
                </div>
                <!-- Repeat with other columns -->
                <!-- Column -->
                <div class="container__column">
                    <!-- Cover -->
                    <img src="cap3.PNG" alt="html" width="300px" height="300px">
                    <!-- Content -->
                    <div class="container__content">
                        <h2 id="studio"> RStudio Server </h2>
                        <div style="padding: 1px;margin-right: 20px;margin-top: 42px;">
                            <img src="usuario.png" width="15px" height="15px"> Andrew Stevenson
                            <br>
                            <img src="calendario.png" width="15px" height="15px">Jan 24 2054  <img src="vista.png" width="15px" height="15px" style="margin-left: 80px;"> 974
                        </div>
                    </div>
                    <!-- Button sticks to the bottom -->
                </div>
                <!-- Repeat with other columns -->
                <!-- Column -->
                <div class="container__column">
                    <!-- Cover -->
                    <img src="cap4.PNG" alt="css3" width="300px" height="300px">
                    <!-- Content -->
                    <div class="container__content">
                        <h2 id="studio"> RStudio Server </h2>
                        <div style="padding: 1px;margin-right: 20px;margin-top: 42px;">
                            <img src="usuario.png" width="15px" height="15px"> Andrew Stevenson
                            <br>
                            <img src="calendario.png" width="15px" height="15px">Jan 24 2054  <img src="vista.png" width="15px" height="15px" style="margin-left: 80px;"> 974
                        </div>
                    </div>
                    <!-- Button sticks to the bottom -->
                </div>
                <!-- Repeat with other columns -->
                <!-- Column -->
                <div class="container__column" style="padding: 23px;">
                    <!-- Cover -->
                    <h2 id="studio"> RStudio Server </h2>
                    <!-- Content -->
                    <div class="container__content" id="ult">
                        Update ¡Python
                        <br>
                        notebook with a local
                        <br>
                        cluster. Upgrade your
                        <br>
                        machine to get faster
                        <br>
                        performance.
                        <div style="padding-top: 50px;">
                            <img src="usuario.png" width="15px" height="15px"> Andrew Stevenson
                        </div>
                    </div>
                    <!-- Button sticks to the bottom -->
                    <kbd class="entrada" style="padding-left: 40px;"> TRY THIS APP --> </kbd>
                </div>
                <!-- Repeat with other columns -->                
            </div>
        </div>
    </body>
</html>